html { 
	background-color: #7deabe;
}

body { 
	position:relative;
	width: 600px; 
	background:#7deabe;
	margin:20px auto;
	font-family: arial, sans-serif;
}
#buttons {
	text-align:center;
}

a img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;			
}
button {
	height:30px;
	width:100px;
	margin:8px auto;
}
img.preload {
	display:none;
}
h1 {
	font-size:60px;
	text-align:center;
	padding:0px;
	margin:10px auto;
}
#playerName {
	text-align:center;
}

#card-table {
	background-color: #7deabe;
	height:400px;
	width:600px;
}
a:visited {color:blue;}

#deal {
	position: absolute;
	left:310px;
	top:170px;
}

#play {
	position: absolute;
	left:150px;
	top:410px;
}

#skip {
	position: absolute;
	left:350px;
	top:410px;
}

footer {
	font-size : 12px;
	color:grey;
	margin:10px;
}

footer a, footer a:visited{
	color:grey;
}

footer a:hover {
	color:black;
}
